<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Search Tree App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="homepage-container">
    <h1>Welcome to the Binary Search Tree App</h1>
    <p>What would you like to do?</p>

    <div class="homepage-buttons">
        <form action="/enter-numbers" method="get">
            <button type="submit" class="button">Create New Tree</button>
        </form>

        <form action="/previous-trees" method="get">
            <button type="submit" class="button">View Previous Trees</button>
        </form>
    </div>
</div>
</body>
</html>

